<div class="jumbotron">
  <h1>'Ekabo, 'Ekabo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Delivering at the Speed of Light.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Great!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Send Bulk Email</h4>
  <p>
    Will help you send your email fast and quick.
  </p>

  <h4>Save Contact</h4>
  <p>
    Never lose you contact agian.
  </p>

  <h4>Simple is Beautiful</h4>
  <p>
    Very Baasic to use.
  </p>

  <h4>Small is Awesome</h4>
  <p>Small but yet Powerful</p>
</div>
